doctype html
html(lang="ja")
  head
    title Elevator Saga - エレベータをプログラミングしよう！
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    link(rel="stylesheet" href="font-awesome-4.1-1.0/css/font-awesome.min.css" type="text/css" media="all")

    //- Google Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet" type="text/css")

    link(rel="stylesheet" href="style.css" type="text/css" media="all")

    script(src="app.js" defer)

    script#user-template(type="text/template")
      i.movable.fa.user(class="fa-{u.displayType} {state}")

    script#floor-template(type="text/template")
      .floor(style="top: {yPosition}px")
        span.floornumber {level}
        span.buttonindicator
          i.fa.fa-arrow-circle-up.up
          i.fa.fa-arrow-circle-down.down

    script#elevator-template(type="text/template")
      .elevator.movable(style="width: {e.width}px")
        span.directionindicator.directionindicatorup: i.fa.fa-arrow-circle-up.up.activated
        span.floorindicator: span
        span.directionindicator.directionindicatordown: i.fa.fa-arrow-circle-down.down.activated
        span.buttonindicator

    script#elevatorbutton-template(type="text/template")
      span.buttonpress {floorNum}

    script#feedback-template(type="text/template")
      .feedback
        h2.emphasis-color {title}
        p.emphasis-color {message}
        a.emphasis-color(href="{url}") 次へ #[i.fa.fa-caret-right.blink(style="text-decoration: blink")]

    script#challenge-template(type="text/template")
      .left
        h3 第{num}問：{challenge.condition.description}

      button.right.startstop.unselectable(style="width: 110px") {startButtonText}
      h3.right
        i.fa.fa-minus-square.timescale_decrease.unselectable
        span.emphasis-color(style="display: inline-block; width: 22px; text-align: center") {timeScale}
        i.fa.fa-plus-square.timescale_increase.unselectable

    script#codestatus-template(type="text/template")
      h5.error(style="display: {errorDisplay}")
        i.fa.fa-warning.error-color
        | コードに誤りがあります：{errorMessage}

    script#default-elev-implementation(type="text/plain")
      include templates/default-elev-implementation.js

    script#devtest-elev-implementation(type="text/plain")
      include templates/devtest-elev-implementation.js

  body
    .container
      .header
        h1.left Elevator Saga #[em.emphasis-color The elevator programming game]
        a.right(href="https://github.com/magwo/elevatorsaga/wiki") Wiki / 解答例
        a.right(href="documentation.html#docs") ドキュメンテーション
        a.right(href="documentation.html") ヘルプ

      noscript
        h2.
          このブラウザは JavaScript が有効になっていません。
          このページには JavaScript によって実装されたブラウザで動作するプログラミングゲームが含まれています。

      .challenge(style="height: 40px")

      .world
        .feedbackcontainer
        .innerworld
        .statscontainer
          div(style="top: 20px")
            span.key 運んだ人数
            span.value.transportedcounter

          div(style="top: 40px")
            span.key 経過時間
            span.value.elapsedtime

          div(style="top: 60px")
            span.key 1秒間に運んだ人数
            span.value.transportedpersec

          div(style="top: 80px")
            span.key 平均待機時間
            span.value.avgwaittime

          div(style="top: 100px")
            span.key 最大待機時間
            span.value.maxwaittime

          div(style="top: 120px")
            span.key(title="エレベータがフロアに到着した総回数") 移動回数
            span.value.movecount

      .codestatus
      .code
        textarea#code(name="Code")

      button#button_reset(style="float: left") リセット
      button#button_resetundo(style="float: left") やり直し
      button#button_apply(style="float: right") 適用
      button#button_save(style="float: right") 保存
      span#save_message(style="float: right")
      span#fitness_message(style="float: right")
      div(style="clear: both;")

      div(style="margin-top: 20px")
        h3 ヒントが必要ですか？　#[a(href="documentation.html") ヘルプと API ドキュメンテーション]のページを参照してみましょう。

      .footer
        h4 Made by Magnus Wolffelt and contributors
        h4 Version #[span.emphasis-color 1.6.5]
        h4 #[a(href="https://github.com/Double-oxygeN/elevatorsaga") Source code] on GitHub
